.btnPrf{
  width: 15%;
  height: 15%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  padding: 7px 15px;
  background-color: greenyellow;
}
.btnPrf .anticon {
  font-size: 20px;
}

.user-item .adForm .tblUser .ant-table-cell {
  font-size: 105%;
}

.user-item .adForm .tblUser .ant-table-thead th {
  font-size: 120%;
}

.ant-modal-content {
  margin-top: 100px;
}
